body{
    background-color: #ede7e8;
}
.d-flex{
    background-color: #de4b55;
}
.home{
    background-color: #ede7e8;
    height: 50px;
    width: 50px;
}
.back{
    background-color: #ede7e8;
    height: 50px;
    width: 50px;
}
.logout{
    background-color: #ede7e8;
    height: 50px;
    width: 50px;
}
.homeicon{
    height: 50px;
    width: 50px;
    margin-top: -13px;
    margin-left: -11px;
}.btn>p {
     font-size: small;
     margin-top: -9px;
     margin-left: -12px;
 }
.backicon{
    height: 50px;
    width: 50px;
    margin-top: -13px;
    margin-left: -11px;
}
.logout1{
    height: 50px;
    width: 50px;
    margin-top: -13px;
    margin-left: -11px;
}.emp{
     background-color: #de4b55;
     width: 250px;
     color: #ede7e8;
 }
.flex-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.flex-container>div {
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    height: 350px;
}
.form{
    text-align: -webkit-left;
}
.borderedt{
    border-width: 0px;
    background-color:#ede7e8;
}
.cancel>button{
    background-color: #de4b55;
    border-width: 0px;
}
.edit>button{
    background-color: #de4b55;
    border-width: 0px;

}
.edit, .cancel{
    background-color: #de4b55;
    width: 150px;
}
.edit{
    text-align: right;
}
